* {
box-sizing: border-box;
}

a {
text-decoration: none;
color: inherit;
}

ul {
list-style: none;
}

body {
font-family: Inter;
}

.container {
max-width: 1170px;
margin: 0 auto;
}

/* HEADER */

.header {
padding: 20px 0;
box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.26);
}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
}

.header__logo {
display: flex;
align-items: center;
}

.header__burger {
display: none;
}

.header__logo-text {
font-weight: bold;
font-size: 48px;
line-height: 56px;
letter-spacing: -1px;
color: #2D3436;
}

.header__menu {
display: flex;
}

.header__menu-item {
font-size: 18px;
line-height: 32px;
color: #6C5CE7;
margin-right: 50px;
text-align: center;
min-width: 115px;
position: relative;
}

.header__menu-item:last-child {
margin-right: 0;
}

.header__menu-link:hover {
font-weight: bold;
color: #2D3436;
}

.header__menu-item::after {
content: "";
width: 8px;
height: 8px;
background-color: #FDCB6E;
border-radius: 50%;
position: absolute;
top: 12px;
right: -30px;
}

.header__menu-item:last-child::after {
display: none;
}

.header__sign-in {
font-weight: bold;
font-size: 24px;
letter-spacing: 0.25px;
color: #FFFFFF;
text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
border: none;
outline: none;
cursor: pointer;
background: #6C5CE7;
border-radius: 999px;
padding: 18px 45px;
}

/*main*/

.main {
background-image: url('../img/underheader/Rectangle.png');
background-repeat: no-repeat;
background-position: center bottom;
box-shadow: 0px 2px 3px rgba(38, 50, 56, 0.26) inset;
height: 600px;
}
.main__inner {
padding: 90px 0;
position: relative;
}
.main__title {
text-align: center;
font-weight: 800;
font-size: 96px;
line-height: 104px;
letter-spacing: -3px;
text-shadow: 0px 4px 0px #FFFFFF;
margin-bottom: 15px;
}

.main__title-word {
color: #D63031;
}
.main__title-bottom {
margin: 0px 200px;
height: 102px;
width: 700px;
font-family: Inter;
font-weight: 900;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: -1px;
color: #2D3436;
}

.main__text-left{
position: absolute;
height: 102px;
width: 270px;
left: 9.38%;
right: 71.88%;
top: 390px;
font-family: Inter;
font-size: 18px;
line-height: 32px;
color: #2D3436;
}

.main__text-bg {
padding: 55px 30px;
background: #55EFC4;
border-radius: 999px;
position: absolute;
right: 0;
top: 430px;
}

.main__text-right {
width: 363px;
font-size: 22px;
}

.arrow{
    display: none;
}
.main__btn{
position: absolute;;
background: #6C5CE7;
border-radius: 999px;
border: none;
bottom: 8px;
font-family: Inter;
font-weight: bold;
font-size: 32px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.5px;
color: #FFFFFF;
height: 82px;
left: 11.46%;
right: 69.79%;
top: 510px;
}
.order {
padding: 80px 0;
}

.order__title {
font-weight: bold;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
color: #2D3436;
margin-bottom: 15px;
}

.order__text {
font-size: 24px;
line-height: 36px;
letter-spacing: -0.25px;
color: #2D3436;
max-width: 950px;
margin-bottom: 40px;
}

.order__items {
display: flex;
justify-content: space-between;
}

.order__item {
max-width: 270px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}

.order__img {
display: inline-block;
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 70px;
border-radius: 50%;
margin-bottom: 25px;
}

.order__item-title {
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.25px;
color: #2D3436;
margin-bottom: 15px;
}

.order__item-text {
font-size: 18px;
line-height: 32px;
color: #2D3436;
margin-bottom: 15px;
}

.order__item-link {
font-weight: bold;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.2px;
color: #6C5CE7;
background-color: transparent;
cursor: pointer;
border: 1px solid #ADADAD;
border-radius: 16px;
padding: 5px 20px;
}
            /*PRICE*/

.price__inner{
align-items: center;
   
}
.price__title{
text-align: center;
font-family: Inter;
font-weight: 900;
font-size: 64px;
line-height: 77px;
letter-spacing: -1px;
}

.price__pay{
text-align: center;
font-family: Inter;
font-weight: bold;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
}

.price__text{
color: #ADADAD;
}

.price__month{
color: #6C5CE7;
}
.month{
content: "";
position: absolute;
width: 126px;
height: 12px;
left: calc(50% - 126px/2);
border-radius: 10px;
z-index: -1;
background-color: #FDCB6E;
}
.price__list {
display: flex;
justify-content: space-between;
margin:15px;
}

.price__item_top{
height: 32px;
right: 90px;
font-family: Inter;
font-weight: bold;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.2px;
color: #6C5CE7;
}
.price__item_top_pussy{
width: auto;
}
.forever{
font-size: 14px;
}
.individual{
background-color: white;
}
.condition{
height: 450px;
width: 300px;
z-index: 2;
}

.condition_items{
flex-direction: column;
height: 40px;
left: 48px;
right: 0px;
top: 128px;
font-family: Inter;
font-size: 18px;
line-height: 32px;
color: #2D3436;
}
.price__btn {
background: white;
border-radius: 16px;
width: 200px;
height: 64;
font-family: Inter;
font-weight: bold;
font-size: 18px;
line-height: 32px;
}
.person{
font-family: Inter;
font-weight: bold;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.2px;
color: #6C5CE7;
}
.individual{
height: auto;
}
.individual:hover {
background: #FFFFFF;
border-radius: 16px;
cursor: pointer;
box-shadow: 0px 5px 7px rgba(83, 83, 83, 0.267)
}
.individual_text{
height: 56px;
left: 0px;
right: 0px;
top: 48px;
font-family: Inter;
font-weight: bold;
font-size: 20px;
line-height: 56px;
display: flex;
letter-spacing: -1px;
color: #2D3436;
}
.individual_price{
font-size: 14px;
}
.price__individual_btn {
margin: 20px 20px;
background: #6C5CE7;
border-radius: 16px;
width: 200px;
font-family: Inter;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: white;
}
.price__corporate_btn {
margin: 20px 20px;
background: white;
border-radius: 16px;
width: 200px;
height: 64;
font-family: Inter;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #6C5CE7;
}
.wave{
position: absolute;
z-index: 1; 
}
        /*Footer*/


.footer{
background-image: url('../img/footer/Wave2.png');
background-repeat: no-repeat;
background-position: center bottom;
    
}
.footer_title{
font-family: Inter;
font-weight: 800;
font-size: 12px;
line-height: 15px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #ADADAD;
}
.web{
display: flex;
flex-direction: row;
}
    .web_items{
margin-right: 35px;
}

.footer__inner{
margin: 100px 0px;
display: flex;
height:500px ;
}

.footer_left_top{
margin-top: 40px;
font-family: Inter;
font-weight: 800;
font-size: 12px;
line-height: 15px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #ADADAD;
}

.footer_left_info{
display: flex;    
justify-content: space-between;
}
.footer_info_list{
margin:0;
font-family: Inter;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.25px;
color: #2D3436;
margin-top: 15px;

}

.footer_info_item{
 flex-direction: column;
}
.footer_right_top{
font-family: Inter;
font-weight: 800;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #ADADAD;
}
.footer__follow-email{
font-family: Inter;
font-weight: bold;
font-size: 32px;
line-height: 48px;
display: flex;
align-items: flex-end;
letter-spacing: -0.5px;
color: #6C5CE7;
}

.hidden_footer_text1{
display: none;
} 
.hidden_footer_text2{
display: none;
} 
.footer__follow-email2 {
display: none;
}

@media (max-width: 380px) {
    .container {
    max-width: 360px;
    margin: 0 auto;
    }
    /* HEADER */

    .header__logo-img {
    display: none;
    }

    .header__burger {
    display: block;
    padding: 15px 10px;
    }

    .header__burger span {
    display: block;
    width: 20px;
    border: 2px solid #5C5C5C;
    margin-bottom: 2px;
    border-radius: 15px;
    }

    .header__logo-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #5C5C5C;
    }

    .header__menu {
    visibility: hidden;
    }

    .header__sign-in {
    background: #6C5CE7;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    border-radius: 8px;
    padding: 10px 30px;
    }
    .free{
    height: 56px;
    left: 0px;
    right: 0px;
    top: 48px;
    font-family: Inter;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    letter-spacing: -1px;
    color: #2D3436;
    }
    .main {
    background-image: url('../img/underheader/Rectangle2.svg');
    background-repeat: no-repeat;
    background-position:center top;
    }
    .main__text-left{
    display: none;
    }
    .main__text-bg{
    display: none;
    }
    .main__title{
    font-size: 64px;
    text-align: center;
    }
    .main__title span{
    font-size: 48px;
    width: 330px;
    height: 58px;
    text-align: center;
    }
    .main__title-bottom{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    margin:0px 10px;
    letter-spacing: 0.25px;
    color: #2D3436;
    height: 90px;
    width: 300px;
    }
    .arrow{
    position: absolute;
    display: inline;
    left: 100px;
    top:400px;
    }
    .condition{
    display: flex;
    flex-direction: column;
    }


            /* ORDER */
    .main__text-left{
    display: none;
    }

    .main__text-bg{
    display: none;
    }

    .order__title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #2D3436;
    }

    .order__title-year {
    color: #6C5CE7;
    }

    .order__title-car {
    display: none;
    }

    .order__text {
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
    }
    
    .order__items {
    flex-wrap: wrap;
    }

    .order__item {
    max-width: 150px;
    }

    .order__img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 20px;
    }

    .order__img img {
    width: 20px;
    }

    .order__item-title {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #2D3436;
    margin-bottom: 10px;
    }

    .order__item-text {
    font-size: 13.5px;
    line-height: 24px;
    color: #5C5C5C;
    }

    .order__item-link {
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #6C5CE7;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    }
                
                        /*Price*/
    
    .price__list{
      flex-direction: column;
    }
    
    .footer_title, .footer_left_top, .footer_info_list, .footer_right_top, .footer__follow-email, .wave{
    visibility: hidden;
    }

    }

    .individual{
     margin-bottom: 50px;
    }

    .price__individual_btn, .price__btn, .price__corporate_btn{ 
    margin: 50px;

    }

    .footer__follow-email2{
        font-family: Inter;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        align-items: center;
        letter-spacing: -0.5px;
        color: #6C5CE7;
        display: block;
        align-items: center;
        text-align: center;
    }

    .hidden_footer_text1{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D3436;
        display: block;
        align-items: center;
    }
    .hidden_footer_text2{
        height: 48px;
        left: 0%;
        right: 0%;
        top: 48px;
        font-family: Inter;
        font-size: 12px;
        line-height: 22px;
       display: block;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #00B894;
    }
    .web{
        margin-bottom: 0 auto;
        display: flex;
        flex-direction: row;
    }
}