* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Mulish;
}

.container {
  max-width: 1245px;
  padding: 0px 10px;
}

.header {
  position: relative;
  width: 1600px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  font-size: 18px;
  line-height: 23px;
  color: #616060;
  opacity: 0.5;
}

.header__bg {
  position: absolute;
  top: 120px;
  left: -200px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  margin-right: 80px;
}

.about__item-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.about__item-text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}

.picture1 {
  width: 693px;
  height: 598px;
}

.brand__btn-consultoday {
  margin: 45px 0px;
  background: #458FF6;
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  border: none;
  width: 200px;
  height: 60px;
}

.service {
  width: 1600px;
  position: relative;
  margin: 0 auto;
  padding: 200px 0px;
}

.service__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
}

.service__title-text {
  margin: 0 auto;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  text-align: center;
  width: 950px;
}

.service__items {
  margin: 80px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  position: relative;
}

.service__item {
  background: white;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 45px 35px;
}

.service__item-img {
  margin-bottom: 15px;
}

.service__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 12px;
}

.service__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.service .service__bg1 {
  position: absolute;
  -webkit-transform: rotate(355deg);
          transform: rotate(355deg);
  left: -420px;
  top: 370px;
}

.service .service__bg2 {
  position: absolute;
  right: 300px;
  top: 570px;
}

.menu__btn-lernmore {
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  width: 200px;
  height: 60px;
  background-color: white;
  margin: 70px 500px;
}

.main {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.main__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
  margin-top: 55px;
}

.main__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
  margin-top: 220px;
}

.main .main__item {
  margin-left: 80px;
}

.main .main__item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.main .main__item-text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.border-dark {
  color: #000000;
  margin: 0px auto;
  margin-top: 25px;
  width: 56px;
  height: 3px;
}

.border-dark__main {
  color: #000000;
  margin-top: 25px;
  width: 56px;
  height: 3px;
}

.main__btn {
  margin: 40px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 55px;
  width: 220px;
  height: 55px;
  background-color: white;
}

.picture2 {
  width: 650px;
  height: 477px;
}

.main__bg {
  position: absolute;
  right: 200px;
  top: 550px;
}

.picture2 {
  width: 650px;
  height: 477px;
}

.picture3 {
  width: 665px;
  height: 434px;
}

.testimonials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1600px;
  position: relative;
  margin: 0 auto;
  padding: 180px 0px;
  background-image: url("/img/slider/bg_in.png");
  background: no-repeat;
}

.testimonials__inner {
  color: #FFFFFF;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  width: 1120px;
  height: 425px;
  padding: 80px 70px;
}

.testimonials__inner-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 110px;
}

.testimonials__about-title {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
}

.testimonials__about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}

.testimonials__about-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.border-white {
  margin: 25px auto;
  color: white;
  width: 56px;
  height: 3px;
}

.guy {
  border-radius: 100px;
}
/*# sourceMappingURL=style.css.map */