* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Mulish;
}

.container {
  max-width: 1420px;
  padding: 0px 10px;
}

.header {
  width: 1600px;
  position: relative;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  z-index: 2;
}

.header__logo {
  margin-right: 460px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__menu-item {
  font-size: 18px;
  line-height: 23px;
  color: #616060;
  opacity: 0.5;
  margin-right: 40px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__bg {
  position: absolute;
  top: 180px;
  left: -100px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  margin-right: 20px;
}

.about__item-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.about__item-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}

.about_img {
  width: 693px;
  height: 598px;
  margin: 0px 100px;
}

.brand__btn-consultoday {
  margin: 45px 0px;
  background: #458FF6;
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.service {
  width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
}

.service__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
}

.service__title-text {
  margin: 0 auto;
  margin-top: 60px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  text-align: center;
  width: 950px;
}

.service__items {
  margin: 80px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  position: relative;
}

.service__item {
  background: white;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 45px 35px;
}

.service__item-img {
  margin-bottom: 15px;
}

.service__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 12px;
}

.service__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.service .border-dark {
  color: #000000;
  position: absolute;
  margin: 0px 665px;
  margin-top: 25px;
  width: 56px;
  height: 3px;
}

.service .service__bg1 {
  position: absolute;
  -webkit-transform: rotate(21.46deg);
          transform: rotate(21.46deg);
  margin: 200px -340px;
}

.service .service__bg2 {
  position: absolute;
  margin: 435px 1320px;
}

.service .menu__btn-lernmore {
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 55px;
  width: 200px;
  height: 60px;
  margin: 70px 550px;
}
/*# sourceMappingURL=style.css.map */