*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: Mulish;

}
.container{
    max-width: 1420px;
    padding: 0px 10px;
}
.header{
    width: 1600px;
    position: relative;
    margin: 0 auto;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 125px;
        z-index: 2;
    }
    &__logo{
        margin-right: 460px;
    }
    &__menu{
        display: flex;
        margin-right: auto;
        &-item{
            font-size: 18px;
            line-height: 23px;
            color: #616060;
            opacity: 0.5;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.header__bg{
    position: absolute;
    top:180px;
    left:-100px;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item{
        margin-right: 20px;
        &-title{
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: #000000;
            }
        &-text{
            font-weight: 300;
            font-size: 21px;
            line-height: 32px;    
            color: #7D7987;
         }
    }
}
.about_img{
    width: 693px;
    height: 598px;
    margin: 0px 100px;
}
.brand__btn-consultoday {
    margin: 45px 0px;
    background: #458FF6;
    border-radius: 55px;    
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.service{
    width: 1600px;
    margin: 0 auto;
    margin-top: 200px;
    &__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
        color: #000000;
        text-align: center;
        &-text{
            margin: 0 auto;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #7D7987;
            text-align: center;
            width: 950px;
        }
    }
    &__items{
        margin: 80px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:35px;
        position: relative;
    }
    &__item{
        background: white;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        padding: 45px 35px;
        &-img{
            margin-bottom: 15px;
        }
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 56px;
            color: #000000;
            mix-blend-mode: normal;
            margin-bottom: 12px;
        }
        &-text{
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            color: #7D7987;
        }
    }
    .service__bg1{
        position: absolute;
        transform: rotate(21.46deg);
        margin: 200px -340px;
        }
    .service__bg2{
        position: absolute;
        margin: 435px 1320px;
        }
.menu__btn-lernmore {
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 60px;
    margin: 70px 550px;
    }
}
